NativeApi/Connected Services/DesignatePrinter/DesignatePrinterLLS22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="DesignatePrinterRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Printers">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="BagTag">
                <xs:complexType>
                  <xs:attribute name="LNIATA" type="xs:string" use="optional" />
                  <xs:attribute name="Undesignate" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="BoardingPass">
                <xs:complexType>
                  <xs:attribute name="HostedCarrier" type="xs:boolean" use="optional" />
                  <xs:attribute name="LNIATA" type="xs:string" use="optional" />
                  <xs:attribute name="Undesignate" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Hardcopy">
                <xs:complexType>
                  <xs:attribute name="LNIATA" type="xs:string" use="optional" />
                  <xs:attribute name="Spacing" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="1" />
                        <xs:enumeration value="2" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Undesignate" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="InvoiceItinerary">
                <xs:complexType>
                  <xs:attribute name="LNIATA" type="xs:string" use="optional" />
                  <xs:attribute name="Undesignate" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="ListLabel">
                <xs:complexType>
                  <xs:attribute name="LNIATA" type="xs:string" use="optional" />
                  <xs:attribute name="Undesignate" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="MiniItinerary">
                <xs:complexType>
                  <xs:attribute name="LNIATA" type="xs:string" use="optional" />
                  <xs:attribute name="Undesignate" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Report">
                <xs:complexType>
                  <xs:attribute name="LNIATA" type="xs:string" use="optional" />
                  <xs:attribute name="Undesignate" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Ticket">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="MiniItinerary">
                      <xs:complexType>
                        <xs:attribute name="LNIATA" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Remote">
                      <xs:complexType>
                        <xs:attribute name="LNIATA" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="CountryCode" type="xs:string" use="optional" />
                  <xs:attribute name="LNIATA" type="xs:string" use="optional" />
                  <xs:attribute name="Undesignate" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Profile">
          <xs:complexType>
            <xs:attribute name="Number" type="xs:integer" use="optional" />
            <xs:attribute name="Undesignate" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.0.2" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>