NativeApi/Connected Services/DailySalesSummary/SabreTypeLibrary_Catalog_v.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:STL="http://services.sabre.com/STL/v01" xmlns="http://services.sabre.com/STL/Catalog/v01" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:STLT="http://services.sabre.com/STL/Catalog/v01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://services.sabre.com/STL/Catalog/v01" version="-0.0.15" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="SabreTypeLibrary_v.1.1.2.xsd" namespace="http://services.sabre.com/STL/v01" />
  <xsd:annotation>
    <xsd:documentation>Generated by Contivo Builder on January 7, 2011 at 1:59:03 PM CST</xsd:documentation>
    <xsd:documentation>from the STL_Catalog package with namespace http://services.sabre.com/STL/Catalog/v01</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="STL">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="STL_BusinessComponents_v.0.0.1" type="STLT:STL_BusinessComponents" />
      <xsd:element minOccurs="0" name="STL_CoreComponents_v.0.0.1" type="STLT:STL_CoreComponents" />
      <xsd:element minOccurs="0" name="STL_SimpleTypes" type="STLT:STL_SimpleTypes" />
      <xsd:element minOccurs="0" ref="STL:STL_Envelope" />
      <xsd:element minOccurs="0" ref="STL:STL_Header.RQ" />
      <xsd:element minOccurs="0" ref="STL:STL_Header.RS" />
      <xsd:element minOccurs="0" ref="STL:STL_Header.Ack" />
      <xsd:element minOccurs="0" ref="STL:STL_Header.Notif" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="STL_BusinessComponents">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AircraftVersionandClassConfiguration" type="STL:AircraftVersionandClassConfiguration" />
      <xsd:element minOccurs="0" name="ClassCount" type="STL:ClassCount" />
      <xsd:element minOccurs="0" name="DelayInformation" type="STL:DelayInformation" />
      <xsd:element minOccurs="0" name="Delays" type="STL:Delays" />
      <xsd:element minOccurs="0" name="DepartureDelay" type="STL:DepartureDelay" />
      <xsd:element minOccurs="0" name="EquipmentInformation" type="STL:EquipmentInformation" />
      <xsd:element minOccurs="0" name="Flight.Identifier.Suffix" type="STL:Flight.Identifier.withSuffix" />
      <xsd:element minOccurs="0" name="FlightAirports" type="STL:FlightAirports" />
      <xsd:element minOccurs="0" name="FlightLeg.OPS" type="STL:FlightLeg.OPS" />
      <xsd:element minOccurs="0" name="FlightTimes" type="STL:FlightTimes" />
      <xsd:element minOccurs="0" name="FlightTimes.DepartureArrival" type="STL:FlightTimes.DepartureArrival" />
      <xsd:element minOccurs="0" name="FlightTimes.Operational" type="STL:FlightTimes.Operational" />
      <xsd:element minOccurs="0" name="FlightTimes.Scheduled" type="STL:FlightTimes.Scheduled" />
      <xsd:element minOccurs="0" name="GateInformation" type="STL:GateInformation" />
      <xsd:element minOccurs="0" name="GateStand" type="STL:GateStand" />
      <xsd:element minOccurs="0" name="PassengerCounts" type="STL:PassengerCounts" />
      <xsd:element minOccurs="0" name="PassengersPerClass" type="STL:PassengersPerClass" />
      <xsd:element minOccurs="0" name="PassengersPerDestination" type="STL:PassengersPerDestination" />
      <xsd:element minOccurs="0" name="Remarks" type="STL:Remarks" />
      <xsd:element minOccurs="0" name="STL_Business_Components_Misc_v.0.0.2" type="STLT:STL_Business_Components_Misc" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="STL_Business_Components_Misc">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AirportTax" type="STL:AirportTax" />
      <xsd:element minOccurs="0" name="Calculate.MiscTransInfo" type="STL:Calculate.MiscTransInfo" />
      <xsd:element minOccurs="0" name="Check.Misc" type="STL:Check.Misc" />
      <xsd:element minOccurs="0" name="CreditCard.Misc" type="STL:CreditCard.Misc" />
      <xsd:element minOccurs="0" name="Customer.Misc" type="STL:Customer.Misc" />
      <xsd:element minOccurs="0" name="CustomerDetails.Misc" type="STL:CustomerDetails.Misc" />
      <xsd:element minOccurs="0" name="DocumentNumber" type="STL:DocumentNumber" />
      <xsd:element minOccurs="0" name="ErrorStatus.Misc" type="STL:ErrorStatus.Misc" />
      <xsd:element minOccurs="0" name="ExchangeDocument.Misc" type="STL:ExchangeDocument.Misc" />
      <xsd:element minOccurs="0" name="Fee.Grouped" type="STL:Fee.Grouped" />
      <xsd:element minOccurs="0" name="Fee.Linked" type="STL:Fee.Linked" />
      <xsd:element minOccurs="0" name="FeeDetails.Misc" type="STL:FeeDetails.Misc" />
      <xsd:element minOccurs="0" name="FeeItem.Misc" type="STL:FeeItem.Misc" />
      <xsd:element minOccurs="0" name="FeeList.Misc" type="STL:FeeList.Misc" />
      <xsd:element minOccurs="0" name="Fees.Grouped" type="STL:Fees.Grouped" />
      <xsd:element minOccurs="0" name="Fees.Linked" type="STL:Fees.Linked" />
      <xsd:element minOccurs="0" name="FeesType" type="STL:FeesType" />
      <xsd:element minOccurs="0" name="Flight.Misc" type="STL:Flight.Misc" />
      <xsd:element minOccurs="0" name="FormOfIdentification.Misc" type="STL:FormOfIdentification.Misc" />
      <xsd:element minOccurs="0" name="FormOfPaymentChoice.Misc" type="STL:FormOfPaymentChoice.Misc" />
      <xsd:element minOccurs="0" name="FrequentFlyer.Misc" type="STL:FrequentFlyer.Misc" />
      <xsd:element minOccurs="0" name="Get.MiscTransInfo" type="STL:Get.MiscTransInfo" />
      <xsd:element minOccurs="0" name="GTR.Misc" type="STL:GTR.Misc" />
      <xsd:element minOccurs="0" name="Invoice.Misc" type="STL:Invoice.Misc" />
      <xsd:element minOccurs="0" name="MiscTransInfo" type="STL:MiscTransInfo" />
      <xsd:element minOccurs="0" name="OptionalService" type="STL:OptionalService" />
      <xsd:element minOccurs="0" name="Override.Misc" type="STL:Override.Misc" />
      <xsd:element minOccurs="0" name="Payment.Misc" type="STL:Payment.Misc" />
      <xsd:element minOccurs="0" name="POS.Misc" type="STL:POS.Misc" />
      <xsd:element minOccurs="0" name="PTA.Misc" type="STL:PTA.Misc" />
      <xsd:element minOccurs="0" name="Tax.Misc" type="STL:Tax.Misc" />
      <xsd:element minOccurs="0" name="TransactionCode.Misc" type="STL:TransactionCode.Misc" />
      <xsd:element minOccurs="0" name="Valuation" type="STL:Valuation" />
      <xsd:group minOccurs="0" ref="STL:Fees.Association" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="STL_CoreComponents">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Address" type="STL:Address" />
      <xsd:element minOccurs="0" name="Address.Agency" type="STL:Address.Agency" />
      <xsd:element minOccurs="0" name="Address.Detailed" type="STL:Address.Detailed" />
      <xsd:element minOccurs="0" name="Address.Lines" type="STL:Address.Lines" />
      <xsd:element minOccurs="0" name="Address.Simple" type="STL:Address.Simple" />
      <xsd:element minOccurs="0" name="Currency" type="STL:Currency" />
      <xsd:element minOccurs="0" name="CV_Score" type="STL:CV_Score" />
      <xsd:element minOccurs="0" name="Location.POS" type="STL:Location.POS" />
      <xsd:element minOccurs="0" name="Loyality" type="STL:Loyality" />
      <xsd:element minOccurs="0" name="PersonName" type="STL:PersonName" />
      <xsd:element minOccurs="0" name="PersonName.Detailed" type="STL:PersonName.Detailed" />
      <xsd:element minOccurs="0" name="PersonName.ID" type="STL:PersonName.ID" />
      <xsd:element minOccurs="0" name="PersonName.OTA" type="STL:PersonName.OTA" />
      <xsd:element minOccurs="0" name="PersonName.Query" type="STL:PersonName.Query" />
      <xsd:element minOccurs="0" name="PersonName.Simple" type="STL:PersonName.Simple" />
      <xsd:element minOccurs="0" name="POS" type="STL:POS" />
      <xsd:element minOccurs="0" name="TransactionInfo" type="STL:TransactionInfo" />
      <xsd:element ref="STL:ResultRecord" />
      <xsd:element ref="STL:STL_Header.Ack" />
      <xsd:element ref="STL:STL_Header.Notif" />
      <xsd:element ref="STL:STL_Header.RS" />
      <xsd:element ref="STL:STL_Header.RQ" />
      <xsd:element ref="STL:STL_Payload" />
      <xsd:element ref="STL:STL_SampleMessage.RS" />
      <xsd:element minOccurs="0" ref="STL:STL_SampleMessage.RQ" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="STL_SimpleTypes">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="STL_SimpleTypes_AddressAndLocation" type="STLT:STL_SimpleTypes_AddressAndLocation" />
      <xsd:element minOccurs="0" name="STL_SimpleTypes_Airline" type="STLT:STL_SimpleTypes_Airline" />
      <xsd:element minOccurs="0" name="STL_SimpleTypes_AmountsAndFinance" type="STLT:STL_SimpleTypes_AmountsAndFinance" />
      <xsd:element minOccurs="0" name="STL_SimpleTypes_ConstrainedAtomics" type="STLT:STL_SimpleTypes_AlphaNumerics" />
      <xsd:element minOccurs="0" name="STL_SimpleTypes_DatesAndTime" type="STLT:STL_SimpleTypes_DatesAndTime" />
      <xsd:element minOccurs="0" name="STL_SimpleTypes_Helper" type="STLT:STL_SimpleTypes_Helper" />
      <xsd:element minOccurs="0" name="STL_SimpleTypes_OPS" type="STLT:STL_SimpleTypes_OPS" />
      <xsd:element minOccurs="0" name="STL_SimpleTypes_PersonalInformation" type="STLT:STL_SimpleTypes_PersonalInformation" />
      <xsd:element minOccurs="0" name="STL_SimpleTypes_Preferred" type="STLT:STL_SimpleTypes_Preferred" />
      <xsd:element minOccurs="0" name="STL_SimpleTypes_Strings" type="STLT:STL_SimpleTypes_Strings" />
      <xsd:element minOccurs="0" name="STL_SimpleTypes_Text" type="STLT:STL_SimpleTypes_Text" />
      <xsd:element minOccurs="0" name="STL_SimpleTypes_UpperCaseStrings" type="STLT:STL_SimpleTypes_UpperCaseStrings" />
      <xsd:element minOccurs="0" name="STL_SimpleTypes_Utility" type="STLT:STL_SimpleTypes_Utility" />
      <xsd:element minOccurs="0" name="STL_SimpleTypes_WeightsAndMeasures" type="STLT:STL_SimpleTypes_WeightsAndMeasures" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="STL_SimpleTypes_AddressAndLocation">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AddressType.ACD.PNRB" type="STL:AddressType.ACD.PNRB" />
      <xsd:element minOccurs="0" name="AddressType.RD.PNRB" type="STL:AddressType.RD.PNRB" />
      <xsd:element minOccurs="0" name="CanadianProvinceCodeList" type="STL:CanadianProvinceCodeList" />
      <xsd:element minOccurs="0" name="CityCode" type="STL:CityCode" />
      <xsd:element minOccurs="0" name="CountryAlpha2CodeList" type="STL:CountryAlpha2CodeList" />
      <xsd:element minOccurs="0" name="CountryAlpha3CodeList" type="STL:CountryAlpha3CodeList" />
      <xsd:element minOccurs="0" name="CountryCodeList" type="STL:CountryCodeList" />
      <xsd:element minOccurs="0" name="OfficeLocationType" type="STL:OfficeLocationType" />
      <xsd:element minOccurs="0" name="PhoneLocationType.PNRB" type="STL:PhoneLocationType.PNRB" />
      <xsd:element minOccurs="0" name="USStateCodeList" type="STL:USStateCodeList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="STL_SimpleTypes_Airline">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AircraftConfiguration" type="STL:AircraftConfiguration" />
      <xsd:element minOccurs="0" name="AircraftRegistration" type="STL:AircraftRegistration" />
      <xsd:element minOccurs="0" name="AircraftRegistration.SSIM" type="STL:AircraftRegistration.SSIM" />
      <xsd:element minOccurs="0" name="AircraftType" type="STL:AircraftType" />
      <xsd:element minOccurs="0" name="AircraftType.SSIM" type="STL:AircraftType.SSIM" />
      <xsd:element minOccurs="0" name="AircraftVersion" type="STL:AircraftVersion" />
      <xsd:element minOccurs="0" name="AirlineCodes" type="STL:AirlineCodes" />
      <xsd:element minOccurs="0" name="AirlineCode.2to4Char" type="STL:AirlineCode.2to4Char" />
      <xsd:element minOccurs="0" name="AirlineCode.IATA" type="STL:AirlineCode.IATA" />
      <xsd:element minOccurs="0" name="AirlineCode.OTA" type="STL:AirlineCode.OTA" />
      <xsd:element minOccurs="0" name="AirlineCode.Merchandising" type="STL:AirlineCode.Merchandising" />
      <xsd:element minOccurs="0" name="AirlineCodeOrSpecification" type="STL:AirlineCodeOrSpecification" />
      <xsd:element minOccurs="0" name="AirlineSpecification" type="STL:AirlineSpecification" />
      <xsd:element minOccurs="0" name="AirportCode.Merchandising" type="STL:AirportCode.Merchandising" />
      <xsd:element minOccurs="0" name="AirportCode.SSIM" type="STL:AirportCode.SSIM" />
      <xsd:element minOccurs="0" name="AirTripDirectionType" type="STL:AirTripDirectionType" />
      <xsd:element minOccurs="0" name="AirTripType" type="STL:AirTripType" />
      <xsd:element minOccurs="0" name="AirSegmentType.PNRB" type="STLT:STL_SimpleTypes_Airline" />
      <xsd:element minOccurs="0" name="BagCount" type="STL:BagCount" />
      <xsd:element minOccurs="0" name="CabinType.3Chars" type="STL:CabinType.3Chars" />
      <xsd:element minOccurs="0" name="CabinOrFareType" type="STL:CabinOrFareType" />
      <xsd:element minOccurs="0" name="CategoryFareIndicator.Merchandising" type="STL:CategoryFareIndicator.Merchandising" />
      <xsd:element minOccurs="0" name="ChangeReasons" type="STL:ChangeReason.SSIM" />
      <xsd:element minOccurs="0" name="ChangeReason.Custom" type="STL:ChangeReason.Custom" />
      <xsd:element minOccurs="0" name="ChangeReason.IATA" type="STL:ChangeReason.IATA" />
      <xsd:element minOccurs="0" name="CheckAvail" type="STL:CheckAvail" />
      <xsd:element minOccurs="0" name="ClientID.Merchandising" type="STL:ClientID.Merchandising" />
      <xsd:element minOccurs="0" name="CorporateID_AccountCode.Merchandising" type="STL:CorporateID_AccountCode.Merchandising" />
      <xsd:element minOccurs="0" name="DelayCode" type="STL:DelayCode" />
      <xsd:element minOccurs="0" name="DocumentType.PNRB" type="STL:DocumentType.PNRB" />
      <xsd:element minOccurs="0" name="DomesticStatusOverride" type="STL:DomesticStatusOverride" />
      <xsd:element minOccurs="0" name="ElectronicTicketingInformation" type="STL:ElectronicTicketingInformation" />
      <xsd:element minOccurs="0" name="Equipment" type="STL:Equipment" />
      <xsd:element minOccurs="0" name="Equipment.Code" type="STL:Equipment.Code" />
      <xsd:element minOccurs="0" name="FareApplicationType" type="STL:FareApplicationType" />
      <xsd:element minOccurs="0" name="FareRule.Merchandising" type="STL:FareRule.Merchandising" />
      <xsd:element minOccurs="0" name="FareStatusType" type="STL:FareStatusType" />
      <xsd:element minOccurs="0" name="Flight.Identifier" type="STL:Flight.Identifier" />
      <xsd:element minOccurs="0" name="FlightNumber" type="STL:FlightNumber" />
      <xsd:element minOccurs="0" name="Flight.Identifier.SSI" type="STL:Flight.Identifier.SSI" />
      <xsd:element minOccurs="0" name="FlightNumber.Base" type="STL:FlightNumber.Base" />
      <xsd:element minOccurs="0" name="FlightNumber.OperationalSuffix" type="STL:FlightNumber.OperationalSuffix" />
      <xsd:element minOccurs="0" name="FlightScheduleType" type="STL:FlightScheduleType" />
      <xsd:element minOccurs="0" name="FlightType" type="STL:FlightType" />
      <xsd:element minOccurs="0" name="InFlightServiceInformation" type="STL:InFlightServiceInformation" />
      <xsd:element minOccurs="0" name="LegStatus" type="STLT:STL_SimpleTypes_Airline" />
      <xsd:element minOccurs="0" name="MealServiceNote" type="STL:MealServiceNote" />
      <xsd:element minOccurs="0" name="MealServiceType" type="STL:MealServiceType" />
      <xsd:element minOccurs="0" name="OnTimePerformance" type="STL:OnTimePerformance" />
      <xsd:element minOccurs="0" name="PassengerCount" type="STL:PassengerCount" />
      <xsd:element minOccurs="0" name="PassengerTerminal" type="STL:PassengerTerminal" />
      <xsd:element minOccurs="0" name="PassengerTerminal.OPS" type="STL:PassengerTerminal.OPS" />
      <xsd:element minOccurs="0" name="PassengerType.Merchandising" type="STL:PassengerType.Merchandising" />
      <xsd:element minOccurs="0" name="PNRName" type="STL:PNRName" />
      <xsd:element minOccurs="0" name="POSType.PNRB" type="STL:POSType.PNRB" />
      <xsd:element minOccurs="0" name="PRBD" type="STL:PRBD" />
      <xsd:element minOccurs="0" name="PricingSourceType" type="STL:PricingSourceType" />
      <xsd:element minOccurs="0" name="PseudoCityCode.Merchandising" type="STL:PseudoCityCode.Merchandising" />
      <xsd:element minOccurs="0" name="ProfileType" type="STL:ProfileType" />
      <xsd:element minOccurs="0" name="RelativeDepartureDayOffset" type="STL:RelativeDepartureDayOffset" />
      <xsd:element minOccurs="0" name="RestrictedPayload" type="STL:RestrictedPayload" />
      <xsd:element minOccurs="0" name="ServiceType.IATA" type="STL:ServiceType.IATA" />
      <xsd:element minOccurs="0" name="RemarkPrintCode.PNRB" type="STL:RemarkPrintCode.PNRB" />
      <xsd:element minOccurs="0" name="RemarkType.PNRB" type="STL:RemarkType.PNRB" />
      <xsd:element minOccurs="0" name="RequestType.PNRB" type="STL:RequestType.PNRB" />
      <xsd:element minOccurs="0" name="ResultingFareClass.Merchandising" type="STL:ResultingFareClass.Merchandising" />
      <xsd:element minOccurs="0" name="RuleTariff.Merchandising" type="STL:RuleTariff.Merchandising" />
      <xsd:element minOccurs="0" name="ScheduleName" type="STL:ScheduleName" />
      <xsd:element minOccurs="0" name="SeatDirection" type="STL:SeatDirection" />
      <xsd:element minOccurs="0" name="SectorPortionIndicator" type="STL:SectorPortionIndicator" />
      <xsd:element minOccurs="0" name="SequenceNumber" type="STL:SequenceNumber" />
      <xsd:element minOccurs="0" name="SerialNumber" type="STL:SerialNumber" />
      <xsd:element minOccurs="0" name="SSR" type="STL:SSR" />
      <xsd:element minOccurs="0" name="SupplementalInformation" type="STL:SupplementalInformation" />
      <xsd:element minOccurs="0" name="TicketDesignator.Merchandising" type="STL:TicketDesignator.Merchandising" />
      <xsd:element minOccurs="0" name="TicketType" type="STL:TicketType" />
      <xsd:element minOccurs="0" name="TrafficRestriction" type="STL:TrafficRestriction" />
      <xsd:element minOccurs="0" name="ServiceType" type="STL:ServiceType" />
      <xsd:element minOccurs="0" name="SmokingCode.PNRB" type="STL:SmokingCode.PNRB" />
      <xsd:element minOccurs="0" name="UserId.SSIM" type="STL:UserId.SSIM" />
      <xsd:element minOccurs="0" name="WheelchairCode.PNRB" type="STL:WheelchairCode.PNRB" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="STL_SimpleTypes_AlphaNumerics">
    <xsd:choice>
      <xsd:element minOccurs="0" name="AlphaLength1" type="STL:AlphaLength1" />
      <xsd:element minOccurs="0" name="AlphaLength1to2" type="STL:AlphaLength1to2" />
      <xsd:element minOccurs="0" name="AlphaLength1to3" type="STL:AlphaLength1to3" />
      <xsd:element minOccurs="0" name="AlphaLength1to6" type="STL:AlphaLength1to6" />
      <xsd:element minOccurs="0" name="AlphaLength2" type="STL:AlphaLength2" />
      <xsd:element minOccurs="0" name="AlphaLength2to3" type="STL:AlphaLength2to3" />
      <xsd:element minOccurs="0" name="AlphaLength3" type="STL:AlphaLength3" />
      <xsd:element minOccurs="0" name="AlphaLength4" type="STL:AlphaLength4" />
      <xsd:element minOccurs="0" name="AlphaNumericStringLength1" type="STL:AlphaNumericStringLength1" />
      <xsd:element minOccurs="0" name="AlphaNumericStringLength1to10" type="STL:AlphaNumericStringLength1to10" />
      <xsd:element minOccurs="0" name="AlphaNumericStringLength1to14" type="STL:AlphaNumericStringLength1to14" />
      <xsd:element minOccurs="0" name="AlphaNumericStringLength1to19" type="STL:AlphaNumericStringLength1to19" />
      <xsd:element minOccurs="0" name="AlphaNumericStringLength1to12" type="STL:AlphaNumericStringLength1to12" />
      <xsd:element minOccurs="0" name="AlphaNumericStringLength1to25" type="STL:AlphaNumericStringLength1to25" />
      <xsd:element minOccurs="0" name="AlphaNumericStringLength1to255" type="STL:AlphaNumericStringLength1to255" />
      <xsd:element minOccurs="0" name="AlphaNumericStringLength1to5" type="STL:AlphaNumericStringLength1to5" />
      <xsd:element minOccurs="0" name="AlphaNumericStringLength1to8" type="STL:AlphaNumericStringLength1to8" />
      <xsd:element minOccurs="0" name="AlphaNumericStringLength2" type="STL:AlphaNumericStringLength2" />
      <xsd:element minOccurs="0" name="AlphaNumericStringLength2to3" type="STL:AlphaNumericStringLength2to3" />
      <xsd:element minOccurs="0" name="AlphaNumericStringLength6" type="STL:AlphaNumericStringLength6" />
      <xsd:element minOccurs="0" name="AlphaNumericStringLength4" type="STL:AlphaNumericStringLength4" />
      <xsd:element minOccurs="0" name="AlphaSpaceLength1to30" type="STL:AlphaSpaceLength1to30" />
      <xsd:element minOccurs="0" name="AlphaSpaceLength2to35" type="STL:AlphaSpaceLength2to35" />
      <xsd:element minOccurs="0" name="Numeric0to4" type="STL:Numeric0to4" />
      <xsd:element minOccurs="0" name="Numeric0to99" type="STL:Numeric0to99" />
      <xsd:element minOccurs="0" name="Numeric0to999" type="STL:Numeric0to999" />
      <xsd:element minOccurs="0" name="Numeric0to9999" type="STL:Numeric0to9999" />
      <xsd:element minOccurs="0" name="Numeric1to3" type="STL:Numeric1to3" />
      <xsd:element minOccurs="0" name="Numeric1to4" type="STL:Numeric1to4" />
      <xsd:element minOccurs="0" name="Numeric1to9" type="STL:Numeric1to9" />
      <xsd:element minOccurs="0" name="Numeric1to99" type="STL:Numeric1to99" />
      <xsd:element minOccurs="0" name="Numeric1to999" type="STL:Numeric1to999" />
      <xsd:element minOccurs="0" name="Numeric1to9999" type="STL:Numeric1to9999" />
      <xsd:element minOccurs="0" name="NumericLength1to2" type="STL:NumericLength1to2" />
      <xsd:element minOccurs="0" name="NumericStringLength0to5" type="STL:NumericStringLength0to5" />
      <xsd:element minOccurs="0" name="NumericStringLength0to10" type="STL:NumericStringLength0to10" />
      <xsd:element minOccurs="0" name="NumericStringLength1" type="STL:NumericStringLength1" />
      <xsd:element minOccurs="0" name="NumericStringLength0to8" type="STL:NumericStringLength0to8" />
      <xsd:element minOccurs="0" name="NumericStringLength1to2" type="STL:NumericStringLength1to2" />
      <xsd:element minOccurs="0" name="NumericStringLength1to3" type="STL:NumericStringLength1to3" />
      <xsd:element minOccurs="0" name="NumericStringLength1to4" type="STL:NumericStringLength1to4" />
      <xsd:element minOccurs="0" name="NumericStringLength1to5" type="STL:NumericStringLength1to5" />
      <xsd:element minOccurs="0" name="NumericStringLength1to7" type="STL:NumericStringLength1to7" />
      <xsd:element minOccurs="0" name="NumericStringLength1to8" type="STL:NumericStringLength1to8" />
      <xsd:element minOccurs="0" name="NumericStringLength1to9" type="STL:NumericStringLength1to9" />
      <xsd:element minOccurs="0" name="NumericStringLength1to10" type="STL:NumericStringLength1to10" />
      <xsd:element minOccurs="0" name="NumericStringLength1to13" type="STL:NumericStringLength1to13" />
      <xsd:element minOccurs="0" name="NumericStringLength1to20" type="STL:NumericStringLength1to20" />
      <xsd:element minOccurs="0" name="NumericStringLength1to16" type="STL:NumericStringLength1to16" />
      <xsd:element minOccurs="0" name="NumericStringLength1to19" type="STL:NumericStringLength1to19" />
      <xsd:element minOccurs="0" name="NumericStringLength1to25" type="STL:NumericStringLength1to25" />
      <xsd:element minOccurs="0" name="NumericStringLength1to62" type="STL:NumericStringLength1to62" />
      <xsd:element minOccurs="0" name="NumericStringLength2" type="STL:NumericStringLength2" />
      <xsd:element minOccurs="0" name="NumericStringLength2to3" type="STL:NumericStringLength2to3" />
      <xsd:element minOccurs="0" name="NumericStringLength3to4" type="STL:NumericStringLength3to4" />
      <xsd:element minOccurs="0" name="NumericStringLength4" type="STL:NumericStringLength4" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="STL_SimpleTypes_AmountsAndFinance">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AmountDeterminationType" type="STL:AmountDeterminationType" />
      <xsd:element minOccurs="0" name="Coupon" type="STL:CouponNumber" />
      <xsd:element minOccurs="0" name="CurrencyCodeList" type="STL:CurrencyCodeList" />
      <xsd:element minOccurs="0" name="PaymentCardCode" type="STL:PaymentCardCode" />
      <xsd:element minOccurs="0" name="PaymentCardNumber" type="STL:PaymentCardNumber" />
      <xsd:element minOccurs="0" name="Percentage" type="STL:Percentage" />
      <xsd:element minOccurs="0" name="PricingType" type="STL:PricingType" />
      <xsd:element minOccurs="0" name="RateIndicator" type="STL:RateIndicator" />
      <xsd:element minOccurs="0" name="RatePeriodSimpleType" type="STL:RatePeriodSimpleType" />
      <xsd:element minOccurs="0" name="TransactionActionType" type="STL:TransactionActionType" />
      <xsd:element minOccurs="0" name="TransactionStatusType" type="STL:TransactionStatusType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="STL_SimpleTypes_DatesAndTime">
    <xsd:annotation>
      <xsd:documentation>Date atomic types. The prefered date formats are the XSD date formats. Other formats are provided to support defining legacy system interfaces.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Date" type="STL:Date" />
      <xsd:element minOccurs="0" name="DateTime" type="STL:DateTime" />
      <xsd:element minOccurs="0" name="DateOrDateTime" type="STL:DateOrDateTime" />
      <xsd:element minOccurs="0" name="DateOrMonthDay" type="STL:DateOrMonthDay" />
      <xsd:element minOccurs="0" name="DateOrTimeOrDateTime" type="STL:DateOrTimeOrDateTime" />
      <xsd:element minOccurs="0" name="DateYYYY-MM-DD.Merchandising" type="STL:DateYYYY-MM-DD.Merchandising" />
      <xsd:element minOccurs="0" name="DaysOfOperation.IATA" type="STL:DaysOfOperation.IATA" />
      <xsd:element minOccurs="0" name="Date.SSIM" type="STL:Date.SSIM" />
      <xsd:element minOccurs="0" name="DateString" type="STL:DateString" />
      <xsd:element minOccurs="0" name="DateVariation.SSIM" type="STL:DateVariation.SSIM" />
      <xsd:element minOccurs="0" name="DDMMYYYYYDate" type="STL:DDMMYYYYYDate" />
      <xsd:element minOccurs="0" name="DDMMMYYYYDate" type="STL:DDMMMYYYYDate" />
      <xsd:element minOccurs="0" name="Duration" type="STL:Duration" />
      <xsd:element minOccurs="0" name="MMYYDate" type="STL:MMYYDate" />
      <xsd:element minOccurs="0" name="MMYYYYYDate" type="STL:MMYYYYYDate" />
      <xsd:element minOccurs="0" name="NightDuration" type="STL:NightDuration" />
      <xsd:element minOccurs="0" name="OperationTime" type="STL:OperationTime" />
      <xsd:element minOccurs="0" name="RelativeArrivalDay" type="STL:RelativeArrivalDay" />
      <xsd:element minOccurs="0" name="Time" type="STL:Time" />
      <xsd:element minOccurs="0" name="Time_24Hour" type="STL:Time_24Hour" />
      <xsd:element minOccurs="0" name="TimeOrDateTime" type="STL:TimeOrDateTime" />
      <xsd:element minOccurs="0" name="TimeSpan" type="STL:TimeSpan" />
      <xsd:element minOccurs="0" name="TimeUnit" type="STL:TimeUnit" />
      <xsd:element minOccurs="0" name="TimeChange" type="STL:TimeChange" />
      <xsd:element minOccurs="0" name="TimeChangeOrDateTime" type="STL:TimeChangeOrDateTime" />
      <xsd:element minOccurs="0" name="TimeHHMMType.Merchandising" type="STL:TimeHHMMType.Merchandising" />
      <xsd:element minOccurs="0" name="TimeMode" type="STL:TimeMode" />
      <xsd:element minOccurs="0" name="USTimeZone" type="STL:USTimeZone">
        <xsd:annotation>
          <xsd:documentation>TODO - what about the other US time zones? Alaska, Atlantic, UTC, Somoa? http://www.time.gov/</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="UTCLocalTimeVariationSpecification" type="STL:UTCLocalTimeVariationSpecification" />
      <xsd:element minOccurs="0" name="WeeklyPattern" type="STL:WeeklyPattern" />
      <xsd:element minOccurs="0" name="YearOrYearMonth" type="STL:YearOrYearMonth" />
      <xsd:element minOccurs="0" name="YYYY-MM-DDDate" type="STL:YYYY-MM-DDDate" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="STL_SimpleTypes_Helper">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="i_AddressRole" type="STL:_AddressRole" />
      <xsd:element minOccurs="0" name="i_AddressRoleList" type="STL:_AddressRoleList" />
      <xsd:element minOccurs="0" name="i_AddressType" type="STL:_AddressType" />
      <xsd:element minOccurs="0" name="i_AddressTypeList" type="STL:_AddressTypeList" />
      <xsd:element minOccurs="0" name="i_flightNumberLiterals" type="STL:_flightNumberLiterals" />
      <xsd:element minOccurs="0" name="i_flightNumberPattern" type="STL:_flightNumberPattern" />
      <xsd:element minOccurs="0" name="i_MealServiceType" type="STL:_MealServiceType" />
      <xsd:element minOccurs="0" name="i_PaymentCardType" type="STL:_PaymentCardType" />
      <xsd:element minOccurs="0" name="i_PaymentCardType_Other" type="STL:_PaymentCardType_Other" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="STL_SimpleTypes_OPS">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ChangeType" type="STL:ChangeType" />
      <xsd:element minOccurs="0" name="Class" type="STL:Class" />
      <xsd:element minOccurs="0" name="EndIndicator" type="STL:EndIndicator" />
      <xsd:element minOccurs="0" name="Frequency" type="STL:Frequency" />
      <xsd:element minOccurs="0" name="GateName" type="STL:GateName" />
      <xsd:element minOccurs="0" name="INDO" type="STL:INDO" />
      <xsd:element minOccurs="0" name="PaxMessageType" type="STL:PaxMessageType" />
      <xsd:element minOccurs="0" name="ReasonCode" type="STL:ReasonCode" />
      <xsd:element minOccurs="0" name="SpecialLegStatus" type="STL:SpecialLegStatus" />
      <xsd:element minOccurs="0" name="SpecialServiceType" type="STL:SpecialServiceType" />
      <xsd:element minOccurs="0" name="GateName.OPS" type="STL:GateName.OPS" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="STL_SimpleTypes_PersonalInformation">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CustomerLoyality" type="STL:CustomerLoyality.OTA" />
      <xsd:element minOccurs="0" name="Email.OTA" type="STL:Email.OTA" />
      <xsd:element minOccurs="0" name="MembershipID" type="STL:MembershipID" />
      <xsd:element minOccurs="0" name="PersonNameType" type="STL:PersonNameType" />
      <xsd:element minOccurs="0" name="PhoneNumber" type="STL:PhoneNumber" />
      <xsd:element minOccurs="0" name="PreferenceLevel" type="STL:PreferenceLevel" />
      <xsd:element minOccurs="0" name="Telephone.OTA" type="STL:Telephone.OTA" />
      <xsd:element minOccurs="0" name="UserId" type="STL:UserId" />
      <xsd:element minOccurs="0" name="UserType" type="STL:UserType" />
      <xsd:element minOccurs="0" name="Age.PNRB" type="STL:Age.PNRB" />
      <xsd:element minOccurs="0" name="SecondaryIdCodeList" type="STL:SecondaryIdCodeList" />
      <xsd:element minOccurs="0" name="CustomerLoyalty" type="STL:CustomerLoyalty" />
      <xsd:element minOccurs="0" name="GenderDOCS_Entry.PNRB" type="STL:GenderDOCS_Entry.PNRB" />
      <xsd:element minOccurs="0" name="Gender.PNRB" type="STL:Gender.PNRB" />
      <xsd:element minOccurs="0" name="NameType.PNRB" type="STL:NameType.PNRB" />
      <xsd:element minOccurs="0" name="PassengerType.PNRB" type="STL:PassengerType.PNRB" />
      <xsd:element minOccurs="0" name="PrimaryIdCodeList" type="STL:PrimaryIdCodeList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="STL_SimpleTypes_Preferred">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Age" type="STL:Age" />
      <xsd:element minOccurs="0" name="AgentSine" type="STL:AgentSine" />
      <xsd:element minOccurs="0" name="AirlineCode" type="STL:AirlineCode" />
      <xsd:element minOccurs="0" name="Airport" type="STL:Airport" />
      <xsd:element minOccurs="0" name="AirportCode" type="STL:AirportCode" />
      <xsd:element minOccurs="0" name="Amount" type="STL:Amount" />
      <xsd:element minOccurs="0" name="BagClaimNumber" type="STL:BagClaimNumber" />
      <xsd:element minOccurs="0" name="Building" type="STL:Building" />
      <xsd:element minOccurs="0" name="CabinType" type="STL:CabinType" />
      <xsd:element minOccurs="0" name="City" type="STL:City" />
      <xsd:element minOccurs="0" name="Comment" type="STL:Comment" />
      <xsd:element minOccurs="0" name="Country" type="STL:Country" />
      <xsd:element minOccurs="0" name="CountryCode" type="STL:CountryCode" />
      <xsd:element minOccurs="0" name="DayOfWeek" type="STL:DayOfWeek" />
      <xsd:element minOccurs="0" name="Description.Short" type="STL:Description.Short" />
      <xsd:element minOccurs="0" name="DutyCodeList" type="STL:DutyCodeList" />
      <xsd:element minOccurs="0" name="Email" type="STL:Email" />
      <xsd:element minOccurs="0" name="E_TicketEligibility" type="STL:E_TicketEligibility" />
      <xsd:element minOccurs="0" name="IATA_OrICAO" type="STL:IATA_OrICAO" />
      <xsd:element minOccurs="0" name="LocationCode" type="STL:LocationCode" />
      <xsd:element minOccurs="0" name="Passport" type="STL:Passport" />
      <xsd:element minOccurs="0" name="PaxType" type="STL:PaxType" />
      <xsd:element minOccurs="0" name="ProperName" type="STL:ProperName" />
      <xsd:element minOccurs="0" name="PseudoCityCode" type="STL:PseudoCityCode" />
      <xsd:element minOccurs="0" name="Relationship" type="STL:Relationship" />
      <xsd:element minOccurs="0" name="Relationships.Personal" type="STL:Relationships.Personal" />
      <xsd:element minOccurs="0" name="State" type="STL:State" />
      <xsd:element minOccurs="0" name="StateProvCode" type="STL:StateProvCode" />
      <xsd:element minOccurs="0" name="SeatType" type="STL:SeatType" />
      <xsd:element minOccurs="0" name="Street" type="STL:Street" />
      <xsd:element minOccurs="0" name="Telephone" type="STL:Telephone" />
      <xsd:element minOccurs="0" name="Text" type="STL:Text" />
      <xsd:element minOccurs="0" name="Text.Code" type="STL:Text.Code" />
      <xsd:element minOccurs="0" name="Text.Long" type="STL:Text.Long" />
      <xsd:element minOccurs="0" name="Text.Short" type="STL:Text.Short" />
      <xsd:element minOccurs="0" name="UniqueID" type="STL:UniqueID" />
      <xsd:element minOccurs="0" name="Vendor" type="STL:Vendor" />
      <xsd:element minOccurs="0" name="VendorPreference" type="STL:VendorPreference" />
      <xsd:element minOccurs="0" name="FOO" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="STL_SimpleTypes_Strings">
    <xsd:choice>
      <xsd:element minOccurs="0" name="StringLength0to1023" type="STL:StringLength0to1023" />
      <xsd:element minOccurs="0" name="StringLength0to128" type="STL:StringLength0to128" />
      <xsd:element minOccurs="0" name="StringLength0to16" type="STL:StringLength0to16" />
      <xsd:element minOccurs="0" name="StringLength0to255" type="STL:StringLength0to255" />
      <xsd:element minOccurs="0" name="StringLength0to32" type="STL:StringLength0to32" />
      <xsd:element minOccurs="0" name="StringLength0to4000" type="STL:StringLength0to4000" />
      <xsd:element minOccurs="0" name="StringLength0to4096" type="STL:StringLength0to4096" />
      <xsd:element minOccurs="0" name="StringLength0to64" type="STL:StringLength0to64" />
      <xsd:element minOccurs="0" name="StringLength0to8" type="STL:StringLength0to8" />
      <xsd:element minOccurs="0" name="StringLength1" type="STL:StringLength1" />
      <xsd:element minOccurs="0" name="StringLength1to2" type="STL:StringLength1to2" />
      <xsd:element minOccurs="0" name="StringLength1to8" type="STL:StringLength1to8" />
      <xsd:element minOccurs="0" name="StringLength1to11" type="STL:StringLength1to11" />
      <xsd:element minOccurs="0" name="StringLength1to13" type="STL:StringLength1to13" />
      <xsd:element minOccurs="0" name="StringLength1to18" type="STL:StringLength1to18" />
      <xsd:element minOccurs="0" name="StringLength1to16" type="STL:StringLength1to16" />
      <xsd:element minOccurs="0" name="StringLength1to128" type="STL:StringLength1to128" />
      <xsd:element minOccurs="0" name="StringLength1to1023" type="STL:StringLength1to1023" />
      <xsd:element minOccurs="0" name="StringLength1to20" type="STL:StringLength1to20" />
      <xsd:element minOccurs="0" name="StringLength1to21" type="STL:StringLength1to21" />
      <xsd:element minOccurs="0" name="StringLength1to25" type="STL:StringLength1to25" />
      <xsd:element minOccurs="0" name="StringLength1to29" type="STL:StringLength1to29" />
      <xsd:element minOccurs="0" name="StringLength1to255" type="STL:StringLength1to255" />
      <xsd:element minOccurs="0" name="StringLength1to3" type="STL:StringLength1to3" />
      <xsd:element minOccurs="0" name="StringLength1to30" type="STL:StringLength1to30" />
      <xsd:element minOccurs="0" name="StringLength1to32" type="STL:StringLength1to32" />
      <xsd:element minOccurs="0" name="StringLength1to4" type="STL:StringLength1to4" />
      <xsd:element minOccurs="0" name="StringLength1to5" type="STL:StringLength1to5" />
      <xsd:element minOccurs="0" name="StringLength1to6" type="STL:StringLength1to6" />
      <xsd:element minOccurs="0" name="StringLength1to63" type="STL:StringLength1to63" />
      <xsd:element minOccurs="0" name="StringLength1to64" type="STL:StringLength1to64" />
      <xsd:element minOccurs="0" name="StringLength1to70" type="STL:StringLength1to70" />
      <xsd:element minOccurs="0" name="StringLength13to15" type="STL:StringLength13to15" />
      <xsd:element minOccurs="0" name="StringLength2to4" type="STL:StringLength2to4" />
      <xsd:element minOccurs="0" name="StringLength2" type="STL:StringLength2" />
      <xsd:element minOccurs="0" name="StringLength3" type="STL:StringLength3" />
      <xsd:element minOccurs="0" name="StringLength4" type="STL:StringLength4" />
      <xsd:element minOccurs="0" name="StringLength5" type="STL:StringLength5" />
      <xsd:element minOccurs="0" name="StringLength6" type="STL:StringLength6" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="STL_SimpleTypes_Text">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ShortDescription" type="STL:ShortDescription" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="STL_SimpleTypes_UpperCaseStrings">
    <xsd:choice>
      <xsd:element minOccurs="0" name="UpperCaseAlpha" type="STL:UpperCaseAlpha" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaLength0to1" type="STL:UpperCaseAlphaLength0to1" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaLength0to2" type="STL:UpperCaseAlphaLength0to2" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaLength0to3" type="STL:UpperCaseAlphaLength0to3" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaLength3" type="STL:UpperCaseAlphaLength3" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaLength1" type="STL:UpperCaseAlphaLength1" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaLength1to2" type="STL:UpperCaseAlphaLength1to2" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaLength1to3" type="STL:UpperCaseAlphaLength1to3" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaLength2" type="STL:UpperCaseAlphaLength2" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaLength6" type="STL:UpperCaseAlphaLength6" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaLength2to3" type="STL:UpperCaseAlphaLength2to3" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaNumericLength0to1" type="STL:UpperCaseAlphaNumericLength0to1" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaNumericLength0to10" type="STL:UpperCaseAlphaNumericLength0to10" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaNumericLength0to15" type="STL:UpperCaseAlphaNumericLength0to15" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaNumericLength0to2" type="STL:UpperCaseAlphaNumericLength0to2" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaNumericLength0to20" type="STL:UpperCaseAlphaNumericLength0to20" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaNumericLength0to3" type="STL:UpperCaseAlphaNumericLength0to3" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaNumericLength0to4" type="STL:UpperCaseAlphaNumericLength0to4" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaNumericLength0to6" type="STL:UpperCaseAlphaNumericLength0to6" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaNumericLength1to3" type="STL:UpperCaseAlphaNumericLength1to3" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaNumericLength2to3" type="STL:UpperCaseAlphaNumericLength2to3" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaNumericLength3to5" type="STL:UpperCaseAlphaNumericLength3to5" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaNumericLength1" type="STL:UpperCaseAlphaNumericLength1" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaNumericLength6" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaSpace" type="STL:UpperCaseAlphaSpace" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaSpaceLength1to30" type="STL:UpperCaseAlphaSpaceLength1to30" />
      <xsd:element minOccurs="0" name="UpperCaseAlphaSpaceLength2to35" type="STL:UpperCaseAlphaSpaceLength2to35" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength0to2" type="STL:UpperCaseStringLength0to2" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength0to64" type="STL:UpperCaseStringLength0to64" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1" type="STL:UpperCaseStringLength1" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to10" type="STL:UpperCaseStringLength1to10" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to16" type="STL:UpperCaseStringLength1to16" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to127" type="STL:UpperCaseStringLength1to127" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to13" type="STL:UpperCaseStringLength1to13" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to15" type="STL:UpperCaseStringLength1to15" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to17" type="STL:UpperCaseStringLength1to17" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to19" type="STL:UpperCaseStringLength1to19" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to2" type="STL:UpperCaseStringLength1to2" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to20" type="STL:UpperCaseStringLength1to20" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to216" type="STL:UpperCaseStringLength1to216" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to22" type="STL:UpperCaseStringLength1to22" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to3" type="STL:UpperCaseStringLength1to3" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to30" type="STL:UpperCaseStringLength1to30" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to34" type="STL:UpperCaseStringLength1to34" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to35" type="STL:UpperCaseStringLength1to35" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to39" type="STL:UpperCaseStringLength1to39" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to4" type="STL:UpperCaseStringLength1to4" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to45" type="STL:UpperCaseStringLength1to45" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to5" type="STL:UpperCaseStringLength1to5" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to50" type="STL:UpperCaseStringLength1to50" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to55" type="STL:UpperCaseStringLength1to55" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to57" type="STL:UpperCaseStringLength1to57" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to6" type="STL:UpperCaseStringLength1to6" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to60" type="STL:UpperCaseStringLength1to60" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to62" type="STL:UpperCaseStringLength1to62" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to63" type="STL:UpperCaseStringLength1to63" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to64" type="STL:UpperCaseStringLength1to64" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to65" type="STL:UpperCaseStringLength1to65" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to7" type="STL:UpperCaseStringLength1to7" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to70" type="STL:UpperCaseStringLength1to70" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to71" type="STL:UpperCaseStringLength1to71" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to75" type="STL:UpperCaseStringLength1to75" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to8" type="STL:UpperCaseStringLength1to8" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to9" type="STL:UpperCaseStringLength1to9" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength1to98" type="STL:UpperCaseStringLength1to98" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength2" type="STL:UpperCaseStringLength2" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength2to4" type="STL:UpperCaseStringLength2to4" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength2to5" type="STL:UpperCaseStringLength2to5" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength3" type="STL:UpperCaseStringLength3" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength3to4" type="STL:UpperCaseStringLength3to4" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength3to5" type="STL:UpperCaseStringLength3to5" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength4" type="STL:UpperCaseStringLength4" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength4to5" type="STL:UpperCaseStringLength4to5" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength5" type="STL:UpperCaseStringLength5" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength5to9" type="STL:UpperCaseStringLength5to9" />
      <xsd:element minOccurs="0" name="UpperCaseStringLength6" type="STL:UpperCaseStringLength6" />
      <xsd:element minOccurs="0" name="UpperCaseStringLengthUnknown" type="STL:UpperCaseStringLengthUnknown" />
      <xsd:element minOccurs="0" name="UpperCaseString" type="STL:UpperCaseString" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="STL_SimpleTypes_Utility">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ComponentIndex" type="STL:ComponentIndex" />
      <xsd:element minOccurs="0" name="Flag" type="STL:Flag" />
      <xsd:element minOccurs="0" name="HotelName" type="STL:HotelName" />
      <xsd:element minOccurs="0" name="HotelResStatusType" type="STL:HotelResStatusType" />
      <xsd:element minOccurs="0" name="LinkCode" type="STL:LinkCode" />
      <xsd:element minOccurs="0" name="PMS_ResStatusType" type="STL:PMS_ResStatusType" />
      <xsd:element minOccurs="0" name="RequestedDetailLevel" type="STL:RequestedDetailLevel" />
      <xsd:element minOccurs="0" name="ShareIndicator" type="STL:ShareIndicator" />
      <xsd:element minOccurs="0" name="TravelSectorType" type="STL:TravelSectorType" />
      <xsd:element minOccurs="0" name="VendorCode" type="STL:VendorCode" />
      <xsd:element minOccurs="0" name="Y_N_Indicator" type="STL:Y_N_Indicator" />
      <xsd:element minOccurs="0" name="msgType.PNRB" type="STL:msgType.PNRB" />
      <xsd:element minOccurs="0" name="OnFail.PNRB" type="STL:OnFail.PNRB" />
      <xsd:element minOccurs="0" name="OperationType.PNRB" type="STL:OperationType.PNRB" />
      <xsd:element minOccurs="0" name="QueueNumber.PNRB" type="STL:QueueNumber.PNRB" />
      <xsd:element minOccurs="0" name="Score" type="STL:Score" />
      <xsd:element minOccurs="0" name="Save.PNRB" type="STL:Save.PNRB" />
      <xsd:element minOccurs="0" name="Timestamp" type="STL:Timestamp" />
      <xsd:element minOccurs="0" name="UniqueIdentifier.PNRB" type="STL:UniqueIdentifier.PNRB" />
      <xsd:element minOccurs="0" name="PointOfSaleID" type="STL:PointOfSaleID" />
      <xsd:element minOccurs="0" name="ValueCode" type="STL:ValueCode" />
      <xsd:element minOccurs="0" name="DecimalPlaces" type="STL:DecimalPlaces" />
      <xsd:element minOccurs="0" name="TrackingID" type="STL:TrackingID" />
      <xsd:element minOccurs="0" name="Hotel" type="STL:Hotel" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="STL_SimpleTypes_WeightsAndMeasures">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Weight" type="STL:Weight" />
      <xsd:element minOccurs="0" name="WeightUnit" type="STL:WeightUnit" />
      <xsd:element minOccurs="0" name="WeightCode" type="STL:WeightCode" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>